.LoginContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #8e0b3f;
}

.LoginSegment {
  min-width: 300px;
  min-height: 250px;
  padding: 30px !important;
}
